################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GrpahicsOne/GrpahicsOne.VC.VC.opendb
